{% extends 'base.html' %}
{% load static %}

{% block headertitle %}
    {{etiqueta}} estudio socioeconómico
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock css %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{%else%}succes{%endif%}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section>
            <div class="container">
                <p style="display: inline;"><b>Comprobantes oficiales</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        <input type="hidden" name="solicitud" value="{{ solicitud }}" class="form-control" id="id_solicitud">
                    </p>
                    <p>
                        {{form.credencial.errors}}
                        {{form.credencial.label_tag}}
                        {{form.credencial}}
                    </p>
                    <p>
                        {{form.comprobante_domicilio.errors}}
                        {{form.comprobante_domicilio.label_tag}}
                        {{form.comprobante_domicilio}}
                    </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>Información del solicitante</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.nombre.errors}}
                        {{form.nombre.label_tag}}
                        {{form.nombre}}
                    </p>
                    <p>
                        {{form.primer_apellido.errors}}
                        {{form.primer_apellido.label_tag}}
                        {{form.primer_apellido}}
                    </p>
                    <p>
                        {{form..segundo_apellido.errors}}
                        {{form.segundo_apellido.label_tag}}
                        {{form.segundo_apellido}}
                    </p>
                    <p>
                        {{form.curp.errors}}
                        {{form.curp.label_tag}}
                        {{form.curp}}
                    </p>
                    <p>
                        {{form.fecha_nacimiento.errors}}
                        {{form.fecha_nacimiento.label_tag}}
                        {{form.fecha_nacimiento}}
                    </p>
                    <p>
                        {{form.telefono.errors}}
                        {{form.telefono.label_tag}}
                        {{form.telefono}}
                    </p>
                    <p>
                        {{form.cabeza_familia.errors}}
                        {{form.cabeza_familia}}
                        <label for="id_cab_fam">¿Es cabeza de familia?</label>
                    </p>
                    <p>
                        {{form.ocupacion.errors}}
                        {{form.ocupacion.label_tag}}
                        {{form.ocupacion}}
                    </p>
                    <p>
                        {{form.escolaridad.errors}}
                        {{form.escolaridad.label_tag}}
                        {{form.escolaridad}}
                    </p>
                    <p>
                        {{form.estado_civil.errors}}
                        {{form.estado_civil.label_tag}}
                        {{form.estado_civil}}
                    </p>
                    <p>
                        {{form.discapacidad.errors}}
                        {{form.discapacidad.label_tag}}
                        {{form.discapacidad}}
                    </p>
                    <p>
                        {{form.automovil.errors}}
                        {{form.automovil.label_tag}}
                        {{form.automovil}}
                    </p>
                    <p>
                        {{form.tipo_combustible.errors}}
                        {{form.tipo_combustible.label_tag}}
                        {{form.tipo_combustible}}
                    </p>
                </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>Datos del domicilio</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.calle.errors}}
                        {{form.calle.label_tag}}
                        {{form.calle}}
                    </p>
                    <p>
                        {{form.numero_exterior.errors}}
                        {{form.numero_exterior.label_tag}}
                        {{form.numero_exterior}}
                    </p>
                    <p>
                        {{form.numero_interior.errors}}
                        {{form.numero_interior.label_tag}}
                        {{form.numero_interior}}
                    </p>
                    <p>
                        {{form.colonia.errors}}
                        {{form.colonia.label_tag}}
                        {{form.colonia}}
                    </p>
                    <p>
                        {{form.codigo_postal.errors}}
                        {{form.codigo_postal.label_tag}}
                        {{form.codigo_postal}}
                    </p>
                    <p>
                        {{form.estado.errors}}
                        {{form.estado.label_tag}}
                        {{form.estado}}
                    </p>
                    <p>
                        {{form.municipio.errors}}
                        {{form.municipio.label_tag}}
                        {{form.municipio}}
                    </p>
                    <p>
                        {{form.localidad.errors}}
                        {{form.localidad.label_tag}}
                        {{form.localidad}}
                    </p>
                </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>Características de la casa</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.una_planta}}
                        {{form.una_planta.errors}}
                        <label for="id_una_planta">1 Planta </label>
                    </p>
                    <p>
                        {{form.dos_planta}}
                        {{form.dos_planta.errors}}
                        <label for="id_dos_planta">2 Plantas </label>
                        
                    </p>
                    <p>
                        {{form.tres_planta}}
                        {{form.tres_planta.errors}}
                        <label for="id_tres_planta">3 Plantas o más </label>
                        
                    </p>
                    <p>
                        {{form.sala_comedor}}
                        {{form.sala_comedor.errors}}
                        <label for="id_sala_comedor">Sala/Comedor </label>
                    </p>
                    <p>
                        {{form.cocina.errors}}
                        {{form.cocina}}
                        <label for="id_cocina">Cocina </label>
                    </p>
                    <p>
                        {{form.patio.errors}}
                        {{form.patio}}
                        <label for="id_patio">Patio </label>
                    </p>
                    <p>
                        {{form.cochera.errors}}
                        {{form.cochera}}
                        <label for="id_cochera">Cochera</label>
                    </p>
                    <p>
                        {{form.numero_recamaras.errors}}
                        {{form.numero_recamaras.label_tag}}
                        {{form.numero_recamaras}}
                    </p>
                    <p>
                        {{form.numero_banios.errors}}
                        {{form.numero_banios.label_tag}}
                        {{form.numero_banios}}
                    </p>
                    <p>
                        <label for="id_otra_caracteristica_casa">Otro (Opcional): </label>
                        {{form.otros_caracteristicas_casa.errors}}
                        {{form.otros_caracteristicas_casa}}
                    </p>
                    <p>
                        {{form.piso_es.errors}}
                        {{form.piso_es.label_tag}}
                        {{form.piso_es}}
                    </p>
                    <p>
                        {{form.techo_es.errors}}
                        {{form.techo_es.label_tag}}
                        {{form.techo_es}}
                    </p>
                    <p>
                        {{form.casa_es.errors}}
                        {{form.casa_es.label_tag}}
                        {{form.casa_es}}
                    </p>
                </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>¿Cuenta con los siguientes servicios?</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.casa_energia.errors}}
                        {{form.casa_energia}}
                        <label for="id_energia_electrica">Energía eléctrica</label>
                    </p>
                    <p>
                        {{form.casa_drenaje.errors}}
                        {{form.casa_drenaje}}
                        <label for="id_casa_drenaje">Drenaje</label>
                    </p>
                    <p>
                        {{form.casa_potable.errors}}
                        {{form.casa_potable}}
                        <label for="id_casa_potable">Agua potable</label>
                    </p>
                    <p>
                        {{form.casa_gas.errors}}
                        {{form.casa_gas}}
                        <label for="id_casa_gas">Instalación de gas</label>
                    </p>
                    <p>
                        {{form.casa_lavadora.errors}}
                        {{form.casa_lavadora}}
                        <label for="id_casa_lavadora">Lavadora</label>
                    </p>
                    <p>
                        {{form.casa_refrigerador.errors}}
                        {{form.casa_refrigerador}}
                        <label for="id_casa_refrigerador">Refrigerador</label>
                    </p>
                    <p>
                        {{form.casa_tv.errors}}
                        {{form.casa_tv}}
                        <label for="id_casa_tv">T.V.</label>
                    </p>
                    <p>
                        {{form.casa_tel_fijo.errors}}
                        {{form.casa_tel_fijo}}
                        <label for="id_casa_tel_fijo">Teléfono fijo</label>
                    </p>
                    <p>
                        {{form.casa_tel_celular.errors}}
                        {{form.casa_tel_celular}}
                        <label for="id_casa_tel_celular">Teléfono celular</label>
                    </p>
                    <p>
                        {{form.casa_microondas.errors}}
                        {{form.casa_microondas}}
                        <label for="id_casa_microondas">Horno de microondas</label>
                    </p>
                    <p>
                        {{form.casa_radio.errors}}
                        {{form.casa_radio}}
                        <label for="id_casa_radio">Radio/Stéreo</label>
                    </p>
                    <p>
                        {{form.casa_dvd.errors}}
                        {{form.casa_dvd}}
                        <label for="id_casa_dvd">DVD</label>
                    </p>
                    <p>
                        {{form.casa_computadora.errors}}
                        {{form.casa_computadora}}
                        <label for="id_casa_computadora">Computadora</label>
                    </p>
                    <p>
                        {{form.casa_laptop.errors}}
                        {{form.casa_laptop}}
                        <label for="id_casa_laptop">Laptop</label>
                    </p>
                </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>Salud</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.servicio_salud.errors}}
                        {{form.servicio_salud.label_tag}}
                        {{form.servicio_salud}}
                    </p>
                    <p style="display: inline;"><b>Que enfermedades existen en la familia</b></p>
                    <hr>
                    <p>
                        {{form.enfermedad_cancer.errors}}
                        {{form.enfermedad_cancer}}
                        <label for="id_enfermedad_cancer">Cáncer</label>
                    </p>
                    <p>
                        {{form.enfermedad_quemaduras.errors}}
                        {{form.enfermedad_quemaduras}}
                        <label for="id_enfermedad_quemaduras">Quemaduras</label>
                    </p>
                    <p>
                        {{form.enfermedad_epilepsia.errors}}
                        {{form.enfermedad_epilepsia}}
                        <label for="id_enfermedad_epilepsia">Epilepsia</label>
                    </p>
                    <p>
                        {{form.enfermedad_hipertension.errors}}
                        {{form.enfermedad_hipertension}}
                        <label for="id_enfermedad_hipertension">Hipertensión</label>
                    </p>
                    <p>
                        {{form.enfermedad_presion_baja.errors}}
                        {{form.enfermedad_presion_baja}}
                        <label for="id_enfermedad_presion_baja">Presión baja</label>
                    </p>
                    <p>
                        {{form.enfermedad_discapacidad.errors}}
                        {{form.enfermedad_discapacidad}}
                        <label for="id_enfermedad_discapacidad">Discapacidad</label>
                    </p>
                    <p>
                        {{form.enfermedad_cardiacos.errors}}
                        {{form.enfermedad_cardiacos}}
                        <label for="id_enfermedad_cardiacos">Cardíacos</label>
                    </p>
                    <p>
                        {{form.enfermedad_estrabismo.errors}}
                        {{form.enfermedad_estrabismo}}
                        <label for="id_enfermedad_estrabismo">Estrabismo</label>
                    </p>
                    <p>
                        {{form.enfermedad_renales.errors}}
                        {{form.enfermedad_renales}}
                        <label for="id_enfermedad_renales">Renales</label>
                    </p>
                    <p>
                        {{form.enfermedad_alergia.errors}}
                        {{form.enfermedad_alergia}}
                        <label for="id_enfermedad_alergia">Alergias</label>
                    </p>
                    <p>
                        {{form.enfermedad_paladar_hendido.errors}}
                        {{form.enfermedad_paladar_hendido}}
                        <label for="id_enfermedad_paladar_hendido">Paladar Hendido</label>
                    </p>
                    <p>
                        {{form.enfermedad_cardiopatias.errors}}
                        {{form.enfermedad_cardiopatias}}
                        <label for="id_enfermedad_cardiopatas">Cardiopatías</label>
                    </p>
                    <p>
                        {{form.enfermedad_diabetes.errors}}
                        {{form.enfermedad_diabetes}}
                        <label for="id_enfermedad_diabetes">Diabetes</label>
                    </p>
                    <p>
                        {{form.enfermedad_alzhaimer.errors}}
                        {{form.enfermedad_alzhaimer}}
                        <label for="id_enfermedad_alzhaimer">Alzhaimer</label>
                    </p>
                    <p>
                        {{form.enfermedad_otro.errors}}
                        {{form.enfermedad_otro.label_tag}}
                        {{form.enfermedad_otro}}
                    </p>
                    <p>
                        {{form.receta.errors}}
                        {{form.receta.label_tag}}
                        {{form.receta}}
                    </p>
                </p>
            </div>
        </section>
        <div>  
            <a class="btn btn-secondary btn-lg" href="{% url 'estudio_socioeconomico:lista' %}">Regresar</a>    
            <input type="submit" class="btn btn-primary btn-lg" id="submit" value="{{boton}}">
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}