{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block headertitle %}
    Detalles del estudio socioeconómico
{% endblock %}


{% block contenido %}
    <div id="svg_wrap">
        <section> 
            <p><b>INFORMACIÓN GENERAL</b></p>
            <hr>
            <div class="col-6">
                <p><b>Folio: </b>{{estudio.get_folio_formateado}}</p>
                <p><b>Fecha: </b> {{estudio.fecha_actual}}</p>
            </div>
        </section>
    </div>
    <div id="svg_wrap">
        <section> 
            <p><b>COMPROBANTES OFICIALES</b></p>
            <hr>
            <div class="col-6">
                <p><b>Credencial INE/IFE </b>{{estudio.credencial}}</p>
                <p><b>Comprobante de domicilio </b> {{estudio.comprobante_domicilio}}</p>
            </div>
        </section>
    </div>

    <div id="svg_wrap">
        <section> 
            <p><b>INFORMACION DEL SOLICITANTE </b></p>
            <hr>
            <div class="col-6">
                <p><b>Nombre: </b>{{estudio.solicitud.nombre}}</p>
                <p><b>Apellido paterno: </b> {{estudio.solicitud.primer_apellido}}</p>
                {% if estudio.solicitud.segundo_apellido != None %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Apellido materno: </b> {{estudio.solicitud.segundo_apellido}}</p>
                {% endif %}
                <p><b>CURP: </b>{{estudio.solicitud.curp}}</p>
                <p><b>Fecha de nacimiento: </b>{{estudio.solicitud.fecha_nacimiento}}</p>
                <p><b>Edad: </b>{{estudio.edad}}</p>
                <br>
                <p><b>Lugar de nacimiento:</b></p>
                <p><b>Estado: </b>{{estudio.solicitud.estado}}</p>
                <p><b>Municipio: </b>{{estudio.solicitud.municipio}}</p>
                <p><b>Localidad: </b>{{estudio.solicitud.localidad}}</p>
                <br>
                <p><b>Escolaridad: </b>{{estudio.escolaridad}}</p>
                {% if estudio.cabeza_familia == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Es cabeza de familia: </b>Si</p>  
                {% else %}   
                    <p><b>Es cabeza de familia: </b>No</p>  
                {% endif %}   
                <p><b>Telefono: </b>{{estudio.telefono}}</p>
                <p><b>Ocupación: </b>{{estudio.ocupacion}}</p>
                <p><b>Estado cívil: </b>{{estudio.estado_civil}}</p>
                <p><b>Discapacidad: </b>{{estudio.discapacidad}}</p>
                <p><b>Automóvil: </b>{{estudio.automovil}}</p>
                <p><b>Tipo de combustible: </b>{{estudio.tipo_combustible}}</p>

            </div>
        </section>
    </div>
    
    <div id="svg_wrap">
        <section> 
            <p><b>DATOS DE DOMICILIO</b></p>
            <hr>
            <div class="col-6">
                <p><b>Calle: </b>{{estudio.calle}}</p>
                <p><b>Número interior: </b> {{estudio.numero_interior}}</p>
                <p><b>Número exterior: </b> {{estudio.numero_exterior}}</p>
                <p><b>Colonia: </b>{{estudio.colonia}}</p>
                <p><b>Código postal: </b>{{estudio.codigo_postal}}</p>
                <p><b>Estado: </b>{{estudio.estado}}</p>
                <p><b>Municipio: </b>{{estudio.municipio}}</p>
                <p><b>Localidad: </b>{{estudio.localidad}}</p>
                {% if estudio.entre_calles != None %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Entre calles: </b> {{estudio.entre_calles}}</p>
                {% endif %}
            </div>
        </section>
    </div>

    <div id="svg_wrap">
        <section> 
            <p><b>CARACTERISTICAS DE LA CASA</b></p>
            <hr>
            <div class="col-6">
                {% if estudio.una_planta == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>1 Planta</b></p>
                {% endif %}
                {% if estudio.dos_planta == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>2 Planta</b></p>
                {% endif %}
                {% if estudio.tres_planta == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>3 Planta o más</b></p>
                {% endif %}
                {% if estudio.sala_comedor == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Sala/Comedor</b></p>
                {% endif %}
                {% if estudio.cocina == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Cocina</b></p>
                {% endif %}
                {% if estudio.patio == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Patio</b></p>
                {% endif %}
                {% if estudio.cochera == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Cochera</b></p>
                {% endif %}
                <p><b>No. recamaras: </b> {{estudio.numero_recamaras}}</p>
                <p><b>No. Baños: </b>{{estudio.numero_banios}}</p>
                {% if estudio.otros_caracteristicas_casa != None %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Otro: </b> {{estudio.otros_caracteristicas_casa}}</p>
                {% endif %}
                <p><b>El piso es: </b>{{estudio.piso_es}}</p>
                <p><b>El techo es: </b>{{estudio.techo_es}}</p>
                <p><b>Su casa es: </b>{{estudio.casa_es}}</p>

                <br>
                <p><b>Cuenta con los siguientes servicios de equipamiento:</b></p>
                {% if estudio.casa_energia == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Energía eléctrica</b></p>
                {% endif %}
                {% if estudio.casa_drenaje == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Drenaje</b></p>
                {% endif %}
                {% if estudio.casa_potable == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Agua Potable</b></p>
                {% endif %}
                {% if estudio.casa_gas == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Instalación gas</b></p>
                {% endif %}
                {% if estudio.casa_lavadora == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Lavadora de ropa</b></p>
                {% endif %}
                {% if estudio.casa_refrigerador == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Refrigerador</b></p>
                {% endif %}
                {% if estudio.casa_tv == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>T.V.</b></p>
                {% endif %}
                {% if estudio.casa_tel_fijo == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Teléfono fijo</b></p>
                {% endif %}
                {% if estudio.casa_tel_celular == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Teléfono celular</b></p>
                {% endif %}
                {% if estudio.horno_microondas == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Horno de microondas</b></p>
                {% endif %}
                {% if estudio.casa_radio == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Radio/Stéreo</b></p>
                {% endif %}
                {% if estudio.casa_dvd == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>DVD</b></p>
                {% endif %}
                {% if estudio.casa_computadora == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Computadora</b></p>
                {% endif %}
                {% if estudio.casa_laptop == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Laptop</b></p>
                {% endif %}     
                {% if estudio.enfermedad_otro != None %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Otro: </b> {{estudio.enfermedad_otro}}</p>
                {% endif %}
                {% if estudio.receta != None %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p>{{estudio.receta}}</p>
                {% endif %}
            </div>
        </section>
    </div>
    <div id="svg_wrap">
        <section> 
            <p><b>SALUD</b></p>
            <hr>
            <div class="col-6">
                <p><b>Cuenta con servicio de: </b>{{estudio.servicio_salud}}</p>

                <br>
                <p><b>Que enfemerdades existen en la familia:</b></p>
                {% if estudio.enfermedad_cancer == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Cáncer</b></p>
                {% endif %}
                {% if estudio.enfermedad_quemaduras == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Quemaduras</b></p>
                {% endif %}
                {% if estudio.enfermedad_epilepsia == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Epilepsia</b></p>
                {% endif %}
                {% if estudio.enfermedad_hipertension == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Hipertensión</b></p>
                {% endif %}
                {% if estudio.enfermedad_presion_baja == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Presión baja</b></p>
                {% endif %}
                {% if estudio.enfermedad_discapacidad == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Discapacidad</b></p>
                {% endif %}
                {% if estudio.enfermedad_cardiacos == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Cardíacos</b></p>
                {% endif %}
                {% if estudio.enfermedad_estrabismo == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Estrabismo</b></p>
                {% endif %}
                {% if estudio.enfermedad_renales == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Renales</b></p>
                {% endif %}
                {% if estudio.enfermedad_alergia == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Alergías</b></p>
                {% endif %}
                {% if estudio.enfermedad_paladar_hendido == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Paladar Hendido</b></p>
                {% endif %}
                {% if estudio.enfermedad_cardiopatias == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Cardiopatías</b></p>
                {% endif %}
                {% if estudio.enfermedad_diabetes == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Diabetes</b></p>
                {% endif %}
                {% if estudio.enfermedad_alzhaimer == True %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                <p><b>Alzhaimer</b></p>
                {% endif %}     
            </div>
        </section>
    </div>
    <br>
    <a class="btn btn-secondary btn-lg" href="{% url 'estudio_socioeconomico:lista' %}">Regresar</a>

{% endblock %}