{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block headertitle %}
    <!-- Se muestra el encabezado de la página, en este encabezado se encuentra el título de la página (Detalles de la solicitud),
        y el botón que nos permite agregar un nuevo estudio socioeconomico en dado caso de que la solicitud
        no tenga uno ya asociado -->
         <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-9">
                    Detalles de la solicitud
                </div>
                <div class="col-md-auto">
                    
                    {% if estudio == False%}
                        <a class="btn btn-mg" style="background-color: #b6282e;color:rgb(255, 255, 255)" href="{% url 'estudio_socioeconomico:nuevo' solicitud.id %}">
                            <!-- Se especifica que icono se mostrara en el botón que utilizamos para agregar nuevas solicitudes -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Agregar Estudio
                        </a>
                    {% elif estudio == True %}
                        <a class="btn btn-mg" style="background-color: #E1C699;" href="{% url 'estudio_socioeconomico:detalle' estudio_folio %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                            Ver Estudio
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}


{% block contenido %}
    <div id="svg_wrap">
        <section> 
            <p><b>Datos del solicitante</b></p>
            <hr>
            <div class="col-12">
                <p><b>Nombre: </b>{{solicitud.nombre}}</p>
                <p><b>Primer Apellido: </b> {{solicitud.primer_apellido}}</p>
                {% if solicitud.segundo_apellido != None %} <!-- Solo muestra el segundo apellido en caso de que haya sido capturado--> 
                    <p><b>Segundo apellido: </b> {{solicitud.segundo_apellido}}</p>
                {% endif %}
                <p><b>CURP: </b>{{solicitud.curp}}</p>
                <p><b>Fecha de nacimiento: </b>{{solicitud.fecha_nacimiento}}</p>
                <br>
                <p><b>Lugar de nacimiento:</b></p>
                <p><b>Estado: </b>{{solicitud.estado}}</p>
                <p><b>Municipio: </b>{{solicitud.municipio}}</p>
                <p><b>Localidad: </b>{{solicitud.localidad}}</p>
                <br>
                <p><b>Teléfono: </b>{{solicitud.telefono}}</p>
                {% if solicitud.correo != None %} <!-- Solo muestra el correo en caso de que haya sido capturado-->
                    <p><b>Correo Electrónico: </b>{{solicitud.correo}}</p> 
                {% endif %}
            </div>
        </section>
    </div>

    <div id="svg_wrap">
        <section> 
            <p><b>Datos del domicilio</b></p>
            <hr>
            <div class="col-12">
                <p><b>Calle: </b>{{solicitud.calle}}</p>
                <p><b>Número: </b> {{solicitud.numero}}</p>
                <p><b>Código postal: </b>{{solicitud.codigo_postal}}</p>
                <p><b>Sección: </b>{{solicitud.seccion}}</p>
            </div>
        </section>
    </div>
    
    <div id="svg_wrap">
        <section> 
            <p><b>Datos de la solicitud</b></p>
            <hr>
            <div class="col-12">
                <p><b>Fecha de la solicitud: </b>{{solicitud.fecha}}</p>
                <p><b>Estatus: </b> {{solicitud.estatus}}</p>
                {% if solicitud.resumen != None %} <!-- Solo muestra el resumen de la solicitud en caso de que haya sido capturado-->
                    <p><b>Resumen de la solicitud: </b>{{solicitud.resumen}}</p>
                {% endif %}
            </div>
        </section>
    </div>
    <br>
    <a class="btn btn-secondary btn-lg" href="{% url 'solicitudes:lista' %}">Regresar</a>

{% endblock %}