{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block headertitle %}
    {{etiqueta}} solicitud
{% endblock %}

{% block contenido %}
    {% block mensajes %}    
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script>
                        Swal.fire({
                            title:'{{message}}',
                            icon:'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Aceptar'
                        })
                    </script>
                {% elif message.tags == 'error' %}
                    <script>
                        Swal.fire({
                            title:'{{message}}',
                            icon:'error',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Aceptar'
                        })
                    </script>
                {% elif message.tags == 'info' %}
                    <script>
                        Swal.fire({
                            title:'{{message}}',
                            icon:'info',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Aceptar'
                        })
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock mensajes %}

    <form method="POST">
        {% csrf_token %}
        {{form.usuario}}
        <section>
            <div class="container">
                <p style="display: inline;"><b>Datos del solicitante</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.nombre.errors}}
                        {{form.nombre.label_tag}}
                        {{form.nombre}}
                    </p>
                    <p>
                        {{form.primer_apellido.errors}}
                        {{form.primer_apellido.label_tag}}
                        {{form.primer_apellido}}
                    </p>
                    <p>
                        {{form.segundo_apellido.errors}}
                        {{form.segundo_apellido.label_tag}}
                        {{form.segundo_apellido}}
                    </p>
                    <p>
                        {{form.curp.errors}}
                        {{form.curp.label_tag}}
                        {{form.curp}}
                    </p>
                    <p>
                        {{form.fecha_nacimiento.errors}}
                        {{form.fecha_nacimiento.label_tag}}
                        {{form.fecha_nacimiento}}
                    </p>
                    <br>
                    <p><b>Lugar de nacimiento:</b></p>
                    <p>
                        {{form.estado.errors}}
                        {{form.estado.label_tag}}
                        {{form.estado}}
                    </p>
                    <p>
                        {{form.municipio.errors}}
                        {{form.municipio.label_tag}}
                        {{form.municipio}}
                    </p>
                    <p>
                        {{form.localidad.errors}}
                        {{form.localidad.label_tag}}
                        {{form.localidad}}
                    </p>
                    <br>
                    <p>
                        {{form.telefono.errors}}
                        {{form.telefono.label_tag}}
                        {{form.telefono}}
                    </p>
                    <p>
                        {{form.correo.errors}}
                        {{form.correo.label_tag}}
                        {{form.correo}}
                    </p>
                </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>Datos del domicilio</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.calle.errors}}
                        {{form.calle.label_tag}}
                        {{form.calle}}
                    </p>
                    <p>
                        {{form.numero.errors}}
                        {{form.numero.label_tag}}
                        {{form.numero}}
                    </p>
                    <p>
                        {{form.codigo_postal.errors}}
                        {{form.codigo_postal.label_tag}}
                        {{form.codigo_postal}}
                    </p>
                    <p>
                        {{form.seccion.errors}}
                        {{form.seccion.label_tag}}
                        {{form.seccion}}
                    </p>
                </p>
            </div>
        </section>

        <section>
            <div class="container">
                <p style="display: inline;"><b>Datos de la solicitud</b></p>
                <hr>
                <p style="display: inline;">
                    <p>
                        {{form.fecha.errors}}
                        {{form.fecha.label_tag}}
                        {{form.fecha}}
                    </p>
                    <p>
                        {{form.estatus.errors}}
                        {{form.estatus.label_tag}}
                        {{form.estatus}}
                    </p>
                    <p>
                        {{form.resumen.errors}}
                        {{form.resumen.label_tag}}
                        {{form.resumen}}
                    </p>
                </p>
            </div>
        </section>

        <div>  
            <a class="btn btn-secondary btn-lg" href="{% url 'solicitudes:lista' %}">Regresar</a>    
            <input type="submit" class="btn btn-lg" style="background-color: #b6282e;color:rgb(255, 255, 255)" id="submit" value="{{boton}}">
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}